{% extends 'base.html' %}

{% block content %}
    <p>블로그 게시판 첫 화면입니다.</p>
    <a href="{% url 'blog:write' %}" class="btn btn-outline-success">글 작성</a>
    <!-- 조건문 -->
    <!-- 글이 있을 때: 테이블 출력 -->
    {% if posts %}
        <table class="table table-bordered">
            <thead class="table-light">
                <tr>
                    <td>제목</td>
                    <td>내용</td>
                    <td>작성자</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'blog:detail' pk=post.pk %}" class="btn">{{ post.title }}</a></td>
                        <td>{{ post.writer }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <!-- 글이 없을 때: 문구 출력 -->
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
 
{% endblock %}