<!-- form error 출력 -->
{% comment %}
<div class="alert alert-danger">
    <ul>
        {% for errors in form.errors.values %}
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endcomment %}

{% extends 'base.html' %}

{% block content %}

<!-- form error -->
    <h2>제목: {{ post.title }}</h2>

    {% if post.writer == request.user %}
    <a href="{% url 'blog:edit' pk=post.pk %}" class="btn">수정</a>
    <form action="{% url 'blog:delete' pk=post.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn">
    </form>
    {% endif %}

    <p>내용: {{ post.content }}</p>
    <p>작성자: {{ post.writer }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <hr>

    <!-- 작성 화면 -->
    <h3>댓글</h3>
    <form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit" value="댓글 작성">
    </form>
    <br>
    <!-- comments -->
    <!-- if 문 -->
    {% if post.comments.all %}
        <!-- for 문 -->
        <ul>
            {% for comment in post.comments.all %}
            <!-- 내용, 작성시간, 삭제 버튼 -->
                <li>{{ comment.content }} / {{ comment.created_at }}
                    {% if comment.writer == request.user %}
                        <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="X" class='btn'>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>댓글이 없습니다.</p>
    {% endif %}
    <hr>
    <!-- 태그작성 화면 -->
    <h3>해시태그</h3>
    <form action="{% url 'blog:tag-write' pk=post.pk %}" method="post">
        {% csrf_token %}
        {{ hashtag_form.name }}
        <input type="submit" value="태그 작성">
    </form>
    {% if post.hashtags.all %}
    <ul>
        {% for hashtag in post.hashtags.all %}
        <li>
            {{ hashtag }}
            {% if hashtag.writer == request.user %}
                <form action="{% url 'blog:tag-delete' pk=hashtag.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="X" class='btn'>
                </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <br>
    <p>해시태그가 없습니다.</p>
    {% endif %}

{% endblock %}