{% extends 'blog/base.html' %}

{% block content %}
<h2>제목: {{ post.title }}</h2>
<a href="{% url 'blog:edit' pk=post.pk %}" class="btn">수정</a>
<form action="{% url 'blog:delete' pk=post.pk %}" method="post">
    {% csrf_token %}
    <input type="submit" value="삭제" class="btn">
</form>
<p>내용: {{ post.content }}</p>
<p>작성자: {{ post.writer }}</p>
<p>작성일: {{ post.created_at }}</p>
<hr>

<!-- 작성 화면 -->
<h3>댓글</h3>
<form action="{% url 'blog:cm-write' pk=post.pk %}" method="post">
    {% csrf_token %}
    {{ comment_form.content }}
    <input type="submit" value="댓글 작성">
</form>
<br>
<!-- comments -->
<!-- if 문 -->
{% if comments %}
    <!-- for 문 -->
    <ul>
        {% for comment in comments %}
        <!-- 내용, 작성시간, 삭제 버튼 -->
            <li>{{ comment.content }} / {{ comment.created_at }}
                <form action="{% url 'blog:cm-delete' pk=comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="X" class='btn'>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>댓글이 없습니다.</p>
{% endif %}
<hr>
<!-- 태그작성 화면 -->
<h3>해시태그</h3>
<form action="{% url 'blog:tag-write' pk=post.pk %}" method="post">
    {% csrf_token %}
    {{ hashtag_form.name }}
    <input type="submit" value="태그 작성">
</form>
{% if hashtags %}
<ul>
    {% for hashtag in hashtags %}
    <li>
        {{ hashtag }}
        <form action="{% url 'blog:tag-delete' pk=hashtag.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="X" class='btn'>
        </form>
    </li>
    {% endfor %}
</ul>
{% else %}
<br>
<p>해시태그가 없습니다.</p>
{% endif %}

{% endblock %}